*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #f3efe6;
    background-image:
        linear-gradient(rgba(0,0,0,0.1)1px,transparent 1px),
        linear-gradient(90deg,rgba(0,0,0,0.1)1px,transparent 1px);
        background-size:40px 40px;
}

.button-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    background-color: #1A1814;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
}       

.calculator{
    width:300px;
    padding:20px;
    box-sizing: border-box;
    background-color: #1A1814;
    border-radius:10px;
    box-shadow: 5px 5px 10px #1f1c16;
}

.display{
    width:100%;
    margin-bottom: 15px;

}

.display input{
    box-sizing: border-box;
    width: 100%;
    color:#ffffff;
    font-size:35px;
    text-align:right;
    background-color: #1A1814;
    font-family: "poppins", sans-serif;
    border-radius:5px;
    border: none;
}

.equals{
    grid-column:span 2;
    color:#c26e1f;
}

.equals:hover{
    background-color:#c26e1f;
    color:#ffffff
}

button{
    background-color: #1A1814;
    color:#ffffff;
    font-family: "poppins", sans-serif;
    box-shadow:-2px -2px 5px rgba(255,255,255,0.3);
    border: none;
    border-radius:5px;
    height:50px;
    font-size:22px;
    font-weight: normal;
    cursor:pointer;
    transition:0.5s;
    
}

button:hover{
    background-color:#ffffff;
    color:#3B4454;
    }

button:active{
    transform:translateY(8px);
    box-shadow:none
}
.operation{
    color:#c26e1f;
}

.operation:hover{
    background-color:#c26e1f;
    color:#ffffff;
    }


.top-buttons{
    color:#c26e1f;
}

.top-buttons:hover{
    background-color:#c26e1f;
    color:#ffffff;
}

@media(max-width:600px){
    .calculator{
        width:80%;
        max-width:300px;
        margin:auto;
        padding:15px;
    }
    button{
        height:50px;
        width:100%;
    }
    body{
        min-height: 100vh;
    }
    .display input{
        width:100%;
        box-sizing:border-box;
    }
    .button-container{
        gap:8px;
    }
    body{
        overflow-x:hidden;
    }
}